{{#
    @name Conmsent banner
    @desc The consent banner component defined in `statamic-peak-seo::snippets/_seo.antlers.html` and yielded in `resources/views/layout.antlers.html`.
#}}

{{ consentData = [
    'consent' => false,
    'date' => null,
    'types' => [[
        'value' => true,
        'handle' => 'functionalCookies',
        'title' => '{ trans:strings.consent_functional }',
        'explanation' => '{ trans:strings.consent_functional_explanation }',
        'disabled' => true,
    ]]
] }}

{{ if seo:tracker_type == 'gtag' || seo:tracker_type == 'gtm' }}
    {{ consentData['types'] += [
        'value' => false,
        'handle' => 'analyticsStorage',
        'title' => '{ trans:strings.consent_analytics }',
        'explanation' => '{ trans:strings.consent_analytics_explanation }',
        'consent_api' => true,
        'consent_api_handle' => 'analytics_storage'
    ] }}
{{ /if }}

{{ if seo:tracker_type == 'gtm' }}
    {{ consentData['types'] += [
        'value' => false,
        'handle' => 'adStorage',
        'title' => '{ trans:strings.consent_ads }',
        'explanation' => '{ trans:strings.consent_ads_explanation }',
        'consent_api' => true,
        'consent_api_handle' => 'ad_storage'
    ] }}
    {{ consentData['types'] += [
        'value' => false,
        'handle' => 'adUserData',
        'title' => '{ trans:strings.consent_ad_user_data }',
        'explanation' => '{ trans:strings.consent_ad_user_data_explanation }',
        'consent_api' => true,
        'consent_api_handle' => 'ad_user_data'
    ] }}
    {{ consentData['types'] += [
        'value' => false,
        'handle' => 'adPersonalization',
        'title' => '{ trans:strings.consent_ad_personalization }',
        'explanation' => '{ trans:strings.consent_ad_personalization_explanation }',
        'consent_api' => true,
        'consent_api_handle' => 'ad_personalization'
    ] }}
{{ /if }}

{{ if seo:tracker_type == 'scripts' }}
    {{ seo:scripts }}
        {{ consentData['types'] += [
            'value' => false,
            'handle' => 'customScript' + {count},
            'title' => '{ category | add_slashes | entities }',
            'explanation' => '{ explainer | add_slashes | entities }'
            'custom' => true
        ] }}
    {{ /seo:scripts }}
{{ /if }}

{{ if seo:embeds }}
    {{ consentData['types'] += [
        'value' => false,
        'handle' => 'embeds',
        'title' => '{ trans:strings.consent_embeds }',
        'explanation' => '{ trans:strings.consent_embeds_explanation }',
        'embeds' => true
    ] }}
{{ /if }}

<!-- statamic-peak-seo::components/_consent_banner.antlers.html -->
<div
    x-data="consentBanner"
    x-show="!$store.consentBanner.getConsent()"
    x-transition
    class="
        fixed z-50 inset-x-[1rem] bottom-[1rem] md:bottom-[2rem] md:w-80 flex flex-col p-6 space-y-4 bg-white border border-neutral/10 rounded shadow-lg
        {{ seo:display_style == 'left' ?= 'md:right-auto md:left-[2rem]' }}
        {{ seo:display_style == 'right' ?= 'md:left-auto md:right-[2rem]' }}
    "
    x-cloak
>
    <h2 class="text-2xl font-bold">{{ trans:strings.consent_title }}</h2>
    <p class="text-sm font-bold text-neutral">
        {{ trans:strings.consent_explanation }}
        {{ if configuration:cookie_notice_type == 'entry' }}
            <a class="px-1 -m-1 underline rounded hover:text-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary" href="{{ configuration:consent_notice_entry:url }}">{{ trans:strings.consent_learn_more }}</a>
        {{ elseif configuration:cookie_notice_type == 'pdf' }}
            <a class="px-1 -m-1 underline rounded hover:text-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary" href="{{ configuration:consent_notice_asset }}" target="_blank">{{ trans:strings.consent_learn_more }}</a>
        {{ /if }}
    </p>

    <div class="mt-4 flex flex-col space-y-2">
        <template x-for="type in $store.consentBanner.getConsentTypes()">
            <label class="inline-flex">
                <template x-if="type.disabled">
                    <input class="mr-2 w-4 h-4 rounded border-neutral text-primary focus:outline-none focus-visible:ring focus-visible:ring-primary motion-safe:transition opacity-50" type="checkbox" :name="type.handle" checked disabled>
                </template>

                <template x-if="!type.disabled">
                    <input class="mr-2 w-4 h-4 rounded border-neutral text-primary focus:outline-none focus-visible:ring focus-visible:ring-primary motion-safe:transition" type="checkbox" :name="type.handle" x-model="type.value">
                </template>

                <span class="flex flex-col">
                    <span class="font-bold text-xs" x-text="type.title"></span>
                    <span class="text-xs text-neutral/75" x-text="type.explanation"></span>
                </span>
            </label>
        </template>
    </div>

    <div class="flex space-x-4">
        <button @click="$store.consentBanner.acceptAll()" type="button" class="px-4 py-2 bg-primary rounded text-sm font-bold text-white focus:outline-none focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-primary motion-safe:transition">
            {{ trans:strings.consent_accept_all }}
        </button>

        <button @click="$store.consentBanner.saveConsent()" type="button" class="px-1 py-2 rounded text-sm font-bold text-neutral focus:outline-none focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-primary motion-safe:transition">
            {{ trans:strings.consent_accept_selected }}
        </button>
    </div>

    {{# Yield this section in `resources/layouts/_footer.antlers.html` so users can reset their consent. #}}
    {{ section:reset_consent }}
        <!-- statamic-peak-seo::components/_consent_Banner.antlers.html -->
        {{ if seo:use_consent_banner }}
            {{# Read out global store consent status and display a reset consent link by saving the initial state. #}}
            <span x-data x-cloak>
                <span x-show="$store.consentBanner.getConsent()">
                    <a @click.prevent="$store.consentBanner.revokeConsent()" class="{{ reset_consent_class ?? 'px-1 -mx-1 underline rounded hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors' }}" href="#">{{ trans:strings.consent_change_preferences }}</a>
                </span>
            </span>
        {{ /if }}
        <!-- End: statamic-peak-seo::components/_consent_Banner.antlers.html -->
    {{ /section:reset_consent }}

    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('consentBanner', {
                data: Alpine.$persist({{ consentData | to_json }}).as('consentBanner'),
                invalidate() {
                    this.data = {{ consentData | to_json }}
                },
                getConsent() {
                    return this.data.consent
                },
                getConsentTypes() {
                    return this.data.types
                },
                getConsentDate() {
                    return this.data.date
                },
                getConsentAPIValues() {
                    return this.data.types.filter((type) => {
                        return type['consent_api'] === true
                    }).reduce((acc, type) => {
                        acc[type.consent_api_handle] = type.value ? 'granted' : 'denied';
                        return acc;
                    }, {});
                },
                saveConsent() {
                    this.data.consent = true
                    this.data.date = Math.floor(Date.now() / 1000)
                },
                revokeConsent() {
                    this.data.consent = false
                    this.data.date = null
                },
                acceptAll() {
                    this.data.types.forEach((type) => type.value = true)
                    this.saveConsent()
                }
            })

            Alpine.data('consentBanner', () => {
                return {
                    data: null,
                    init() {
                        (Alpine.store('consentBanner').getConsentDate() < '{{ seo:consent_revoke_before format="U" }}') && Alpine.store('consentBanner').invalidate()
                        this.data = Alpine.store('consentBanner').data
                        this.$watch('data.consent', value => value && this.updateGoogleConsent())
                    },
                    updateGoogleConsent() {
                        gtag('consent', 'update', Alpine.store('consentBanner').getConsentAPIValues())
                    }
                }
            })
        })
    </script>
</div>
<!-- End: statamic-peak-seo::components/_consent_banner.antlers.html -->

{{# {{ script_fragments }}
    {{ if type == 'body_content' }}
        {{ push:seo_body }}
            {{ body_content }}
        {{ /push:seo_body }}
    {{ /if }}
{{ /script_fragments }} #}}

{{# {{ script_fragments }}
    var script{{ index }} = document.createElement('script')
    {{ if type == 'script_tag' }}
        script{{ index }}.src = '{{ source }}'
    {{ else }}
        script{{ index }}.text = '{{ inline_script | add_slashes | entities | collapse_whitespace }}'
    {{ /if }}
    {{ if type != 'body_content' }}
        {{ defer ?= 'script{{ index }}.defer = true' }}
        {{ async ?= 'script{{ index }}.async = true' }}
        {{ _index = index }}
        {{ inline_script_attributes }}
            script{{ _index }}.setAttribute(
                '{{ attribute | slugify }}',
                '{{ attribute_value ? { attribute_value | entities } : 'true' }}'
            )
        {{ /inline_script_attributes }}
    {{ /if }}
    document.head.appendChild(script{{ index }})
{{ /script_fragments }} #}}

{{# $store.consentBanner.setEmbeds(embeds)
$dispatch('embeds') #}}
